{#{% extends "_base.html" %}#}
{% extends "page.html" %}

{% from 'utils.html' import fas %}

{% block content %}

{#{{ super() }}#}

{#{% block jumbotron %}#}
{#<div class="jumbotron">#}
  {#<div class="container">#}
    {#<div class="row">#}
      {#<div class="col-md-8 col-md-offset-2 text-center">#}
        {#<h1>{{this.title}}</h1>#}
          {#<p>{{this.abstract}}</p>#}
       {#</div>#}
    {#</div>#}
  {#</div>#}
{#</div>#}
{#{% endblock %}#}

<div class="container">
  <div class="row" role="main">
    {#<div class="col-md-7 col-md-offset-2" role="main">#}
    {#<div class="col-md-4" role="main">#}
    {#<div class="col-sm-4 col-md-4">#}
    {#<div class="col">#}
    {#<main>#}

      {% for item in this.content %}
        {#<div class="row">#}
        <div class="col-sm-4 col-md-4">

        <a href="{{item.url}}">

        {% if item.picture is defined %}
            {#<img class="img-responsive" src="/images/pics/{{item.picture}}" height="50%" width="50%"></img>#}
            {#<img class="rounded-circle" src="/images/pics/{{item.picture}}" style=" max-width:900px; max-height: 600px !important;"></img>#}
            <img class="rounded-pill" src="{{url_prefix}}/images/pics/{{item.picture}}" style=" max-width:130px"></img>
        {% else %}
            <span class="fas fa-user-astronaut fa-10x"></span>
        {% endif %}

        <h4>{{item.title}}</h4>
        {#{% if item.date|d %}#}
            {#<h4><small>{{item.date|dateformat}}</small></h4>#}
        {#{% endif %}#}
          <p>{{item.position}}</p>
          <p>{{item.institution}}</p>
          {% if item.teaser is defined %}
              <p>{{item.teaser}}</p>
          {% endif %}
          </a>
          </div>

      {% endfor %}
  {#</main>#}
  </div>
</div>


{#<p> Usar algum dos ícones abaixo quando não houver foto disponível... </p>#}

{#{{ fas('user fa-10x', 'usuário 1') }}#}
{#{{ fas('user-circle fa-10x', 'usuário 2') }}#}
{#{{ fas('user-astronaut fa-10x', 'usuário 3') }}#}

{% endblock %}
