    <!-- Fixed navbar -->
    {% set navbar_style = "navbar-default" %}
    {% if site.navbar_inverse %}
    {%   set navbar_style = "navbar-inverse" %}
    {% endif %}
    {% set navbar_right_items = 1 %}
    {% if site.navbar_right_items is defined%}
    {%   set navbar_right_items = site.navbar_right_items %}
    {% endif %}
    {% set navbar_right_index = site.reflinks['/'].content|length - navbar_right_items %}
    <div class="navbar {{navbar_style}} navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_prefix + '/'}}">{{site.brand}}</a>
        </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-left">
            {% block home %}
            {% endblock %}
            {% for item in site.reflinks['/'].content[:navbar_right_index] %}
            {%   set context = '' %}
            {%   if item.components|d and this.components[0] == item.components[0] %}
            {%     set context = ' class="active"' %}
            {%   endif %}
            {%   if item.content|d and item.dropdown %}
            <li{{context}} class="dropdown">
              <a href="{{item.url}}" class="dropdown-toggle" data-toggle="dropdown">{{item.title}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for subitem in item.content %}
                <li><a href="{{subitem.url}}">{{subitem.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li{{context}}><a href="{{item.url}}">{{item.title}}</a></li>
            {%   endif %}
            {% endfor %}
            <li><a href="https://github.com/ige-geophysics"><i class="fab fa-github fa-fw" title="Github"></i></a></li>
            <li><a href="https://portal.ige.unicamp.br"><img src="/images/logo-ig-horizontal-portal.png" class="fa-fw" title="Instituto de Geociências"></img></a></li>
            <li><a href="https://www.unicamp.br"><img src="/images/logo-unicamp-portal.png" class="fa-fw" title="Unicamp"></img></a></li>
          </ul>

          <!--PARA INCLUIR A BUSCA-->
          <!--
             -<form class="navbar-form navbar-left" action="/search.html" role="search">
             -  <div class="form-group">
             -    <input type="text" required name="q" id="tipue_search_input" class="form-control" placeholder="Search">
             -  </div>
             -</form>
             -->

          <ul class="nav navbar-nav navbar-right">
            {% for item in site.reflinks['/'].content[navbar_right_index:] %}
            {%   set context = '' %}
            {%   if item.components|d and this.components[0] == item.components[0] %}
            {%     set context = ' class="active"' %}
            {%   endif %}
            {%   if item.content|d and item.dropdown %}
            <li{{context}} class="dropdown">
              <a href="{{item.url}}" class="dropdown-toggle" data-toggle="dropdown">{{item.title}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for subitem in item.content %}
                <li><a href="{{subitem.url}}">{{subitem.title}}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li{{context}}><a href="{{item.url}}">{{item.title}}</a></li>
            {%   endif %}
            {% endfor %}
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>
